<footer class="footer-container">
    <div class="footer-content">
        <div class="footer-section">
            <h5>ACERCA DE</h5>
            <ul>
                <li><a href="#">¿Quienes somos?</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h5>ENLACES</h5>
            <ul>
                <li><a href="#">Explorar Experiencias</a></li>
                <li><a href="#">Conviértete en anfitrión</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h5>LEGAL</h5>
            <ul>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </div>

        <div class="footer-section newsletter">
            <h5>SUSCRÍBETE AL BOLETÍN</h5>
            <input type="email" placeholder="Correo Electrónico" />
            <button>Suscribirse</button>
        </div>

        <div class="footer-section social-icons">
            <a href="#" aria-label="Facebook" title="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" aria-label="Twitter" title="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" aria-label="Instagram" title="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" aria-label="YouTube" title="YouTube"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</footer>