<nav class="navbar">
    <div class="navbar__logo">
        <img src="/logo/logorustitourblanco.png" alt="RustiTour Logo" />
    </div>
    <ul class="navbar__menu">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Experiencias</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
    <div class="navbar__user">
        <button mat-icon-button aria-label="Iniciar sesión" (click)="onLogin()">
            <mat-icon>person</mat-icon>
        </button>
    </div>
</nav>